.technology-section {
    padding: 50px;
    text-align: center;
    /* background: black; */
    color: black;
    height: 240px;
    margin-bottom: 150px;
}

.technology-section h1 {
    font-size: 50px;
    letter-spacing: 12px;
    line-height: 62px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    font-family: "Poppins";
    text-align: center;
}