.industry-section {
    padding: 50px;
    text-align: left;
    background: url('../../assets/proposalbackground.png');
    color: #fff;
}

.industry-section h1 {
    font-size: 50px;
    letter-spacing: 12px;
    line-height: 62px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Poppins";
    margin-left: 182px;
    margin-bottom: 20px;
    width: 50%
}

.industry-section h3 {
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Poppins";
}

.industry-section p {
    font-size: 17px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
}

.industry-content {
    text-align: left;
    position: relative;
    /* margin-left: 30px; */
    line-height: 3rem;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.industry-content ul {
    list-style-type: none;
    /* padding-left: 0; */
    margin-top: 20px;
}

.industry-content ul li {
    /* color: #2E3E5C; */
    /* font-size: 16px;
    font-family: Montserrat; */
    font-size: 30px;
    letter-spacing: 8px;
    line-height: 70px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Poppins";
}

.industry-content h1 {
    /* font-size: 2.5em; */
    margin-bottom: 20px;
}

.industry-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.industry-image {
    text-align: left;
    padding: 15px 35px;
}

.industry-image img {
    max-width: 100%;
    height: auto;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .industry-content h1 {
        font-size: 2em;
    }

    .industry-content p {
        font-size: 1em;
    }

    .industry-section {
        padding: 30px;
    }
}