.testimonial-section {
    padding: 50px;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.testimonial-card {
    padding: 0 50px;
    padding-top: 18px;
    text-align: center;
}

.testimonial-section h1 {
    letter-spacing: 12px;
    font-weight: 700;
    color: #000000;
}

.testimonial-section h4 {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.testimonial-section p {
    font-size: 17px;
    color: #000000;
}

.testimonial-section .leftarrow {
    z-index: 12;
    position: absolute;
    bottom: 18px;
    left: 400px;
    color: #fff;
    border-radius: 17px;
    background-image: linear-gradient(0deg, #21424c 0%, #369593 100%);

}

.testimonial-section .rightarrow {
    left: 25px;
    top: -18px;
    color: #fff;
    border-radius: 16px;
    background-image: linear-gradient(180deg, #d0040f 0%, #f5b404 100%);

}

.testimonial-section .ant-carousel .slick-slider .slick-list {
    border-radius: 30px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.36));
    background-color: #ffffff;
}