.testimonial-section {
    padding: 50px;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.testimonial-card {
    padding: 0 50px;
    padding-top: 18px;
    text-align: center;
}

.testimonial-section h1 {
    letter-spacing: 12px;
    font-weight: 700;
    color: #000000;
}

.testimonial-section h4 {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.testimonial-section p {
    font-size: 17px;
    color: #000000;
}

.testimonial-section .leftarrow {

    color: #fff;
    border-radius: 17px;
    background-image: linear-gradient(0deg, #21424c 0%, #369593 100%);
    bottom: -5%;
    position: absolute;
    z-index: 10;
    left: 46%;
}


.testimonial-section .rightarrow {
    position: absolute;
    color: #fff;
    border-radius: 16px;
    background-image: linear-gradient(180deg, #d0040f 0%, #f5b404 100%);
    z-index: 10;
    bottom: -5%;
    right: 46%;
}

.testimonial-section .ant-carousel .slick-slider .slick-list {
    border-radius: 30px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.36));
    background-color: #ffffff;
}

@media (max-width: 1024px) {
    .testimonial-section .leftarrow {

        left: 44%;
    }

    .testimonial-section .rightarrow {

        right: 44.5%;
    }
}

@media (max-width: 2560px) {
    .testimonial-section {
        max-width: 1320px;
        margin-left: auto;
        margin-right: auto;
    }
}